<div id="{uniqueID}_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
		<h3>Mapping Mode</h3>
		<p id="{uniqueID}_status" class="status">Status: Ok.</p>
		<hr>

		<p>Start/stop mapping mode by service call a /switch_mode</p>

		<p style="color:#b4b4b4;">Click the icon once to enable or disable mapping mode.</p>

		<br>

		<hr>

		<button id="{uniqueID}_remove" class="delete_button" onclick="removeWidget('{uniqueID}')">Remove Widget</button>

		
	</div>
</div>

<div id="{uniqueID}_loading_modal" class="modal_outer noselect">
	<div class="modal_inner noselect">
	  <link rel="stylesheet" href="css/loading_styles.css">
	  <div class="loading-screen" id="loadingScreen">
		  <div class="spinner"></div>
		  <p>Loading...</p>
	  </div>
	  <div class="content" id="content" style="display: none;">
		<h1>Main Content</h1>
	  </div>
	</div>
</div>